MAP_MAP_FILE (string)              	= "DK_ID1_FB_baseline.lsb"
MAP_POLY_FILE (string)             	= "DK_ID1_FB_baseline_polyref_pollenNectarCurves.txt"
MAP_FARMREF_FILE (string)          	= "DK_ID1_FB_baseline_farmref.txt"
MAP_WEATHER_FILE (string)          	= "DK_ID1_era5.pre" 
MAP_CROPCURVES_FILE (string)       	= "curves_20230807.pre"
G_FIXEDRANDOMSEQUENCE (bool) = true
G_FIXEDRANDOMSEED (int) = 42
#FARM_FIXED_CROP_ENABLE (bool) = true
#FARM_FIXED_CROP_TYPE (int) = 1026
